CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=n
CONFIG_POWERTOOTH_PROTOCOL_PREFIX="PT/1"
CONFIG_POWERTOOTH_DEBUG_LOGS=n
CONFIG_POWERTOOTH_PAIR_FLASH_MS=150
CONFIG_POWERTOOTH_PAIR_FLASH_COUNT=3
CONFIG_POWERTOOTH_PAIR_FLASH_PAUSE_MS=1000
